.DS_Store
node_modules
*/dist/**

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron-builder output
/dist_electron

# vitepress
docs/.vitepress/dist
docs/.vitepress/cache
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/awakened-poe-trade/FileContentIndex/b693d3d9-2aa9-427b-bfdb-530dba30bde9.vsidx
.vs/awakened-poe-trade/v17/.wsuo
.vs/awakened-poe-trade/v17/DocumentLayout.json
